{%extends 'base.html'%}
{% load static %}
{%block content%}
<div class="nav-wrapper search-bar">
    <form>
        <div class="input-field">
            <input id="search" type="search" name="search_term" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </form>
</div>
{% for job in page_obj%}
    <div class="card">
        <a href="{% url 'job_detail' job.id %}">
            <div class="card-image">
                {% if job.photo_set.first %}
                <img src="{{ job.photo_set.first.url }}">
                {% endif %}
            </div>
            <div class="card-content row">
                <h5>Project Work: {{ job.get_work_display }}</h5>
                <p>Location: {{ job.location }}</p>
                <p>Description: {{ job.description }}</p>
                <p>Start Date: {{ job.start_date }}</p>
                <p>Duration: {{ job.duration }}</p>
                <p class="right-align small-font grey-text text-lighten-1">{{ job.date_created }}</p>
            </div>
        </a>
    </div>
{% endfor %}
    <ul class="pagination center">
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
            {% else %}
                <li class="waves_effect"><a href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{%endblock%}