{%extends 'base.html'%}
{%block content%}
{%if object %}
    <h1> Edit </h1>
{%else%}
    <h1> What Do You Need Help With </h1>
{%endif%}
<form method='POST' action="">
    {%csrf_token%}
    <table>
        {{ form.as_table }}
    </table>
    <input type='submit' value='Submit' class='btn'>
    <div>* Photo can be added at the projec detail page once this project is created</div>
</form>

<script>
    var selectEl = document.getElementById('id_work');
    M.FormSelect.init(selectEl);
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.datepicker');
        var options = {
            format: 'yyyy-mm-dd',
            autoClose: true,
            setDefaultDate: true,
        }
        var instances = M.Datepicker.init(elems, options);
    });
</script>
{%endblock%}